*{ 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@import "colores";
body{
    overflow-x: hidden;
    background-image: url("../img/double-bubble-outline.png");
    background-repeat: repeat;
    .fondo_lila{
        background-color:$bc_lila;
    }   
}