header{
    .navbar-light .navbar-toggler .navbar-toggler-icon {
        background-image: url("../img/lista.png");
    }
    .redes{
        font-family: 'Yeseva One', cursive ;
        width: 100%;
        font-size: 1.2rem;
    }
  
}