header{
    .navbar-light .navbar-toggler .navbar-toggler-icon {
        background-image: url("../img/lista.png");
    }
    .redes{
        font-family: 'Yeseva One', cursive ;
        width: 100%;
        font-size: 1.2rem;
    }
    .titulo{
        justify-items: center;
        align-items: center;
        background-color: #9FFFCB;
    }
    .titulointegro{
        font-family: 'Yeseva One', cursive;
        color:#5603AD ;
    }
    .navboost{
        height: 56px;
        list-style: none;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        background-color: #9FFFCB;
        font-family: 'Yeseva One', cursive;
        font-size: 20px;
    }
}