@import "colores";
@import "fuente";
@mixin cards($background, $fuente){
    background-color: $background;
    font-family: $fuente;
    h5{
        text-align: center
    }
}

main{
    .fuenteYColor{
        font-family:$mifuente;
        color:$bc_letra;
    }
    h1{
        display: flex;
        align-items: center;
        justify-content: center;
        @extend.fuenteYColor;
    }
    .carruselIndex{
        z-index: -1;
    }
    .carousel-item{
        height: 100%;}
    .pasos{
        margin:30px;
    } 
    .formulario{
        background-color: $bc_form;
    }
    .formulario__espaciado{
        padding: 10px;
        @extend.fuenteYColor;
        font-size: 20px;
    }
    .formularioh2{
        text-align: center;
        padding: 10px;
        font-size: 25px;
        margin: 2%;
        @extend.fuenteYColor;
    }
    .boton .btn{
        margin-top: 2%;
        background-color: white;
        @extend.fuenteYColor;
    
    }
    .sobreMi{ padding: 0%;
    }
    .sobreMi h3{
        text-align: center;
        @extend.fuenteYColor;
        font-size: 30px;
        padding: 20px;
    }
    .sobreMiP{
        line-height: 2;
        width: 80%;
        font-family:'Yeseva One', cursive ;
        font-size: 20px;
        padding: 3%;
    }
    .iconos ul{
        list-style: none;
        padding: 2% ;
    }
    .iconos ul li img{ width: 50%;
    }
    .empresa{
        @include cards($bc_form, $mifuente);
    }
    .vida{
        @include cards($bc_form, $mifuente); 
    }
    .viajes{
        @include cards($bc_form, $mifuente);
        border: 6px inset ;
    }
    .mascotas{
        @include cards($bc_form, $mifuente);
        border: ridge 6px;  
    }  


    
    .video{
        justify-content: center;
        margin-bottom: 3%;
    }
    .pasos__contrata{
        margin: 80px;
    }
    .mapa{
        margin-left: 30%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    $mapSiniestro:(
        alinear:center,
        tamañoFuente:1.5rem,
        margenTiposDeSegurosS:5%,
);
.tiposdesegurosS{
        text-align: map-get($map: $mapSiniestro, $key:alinear );
        font-size:map-get($map: $mapSiniestro, $key:tamañoFuente ) ;
        margin:map-get($map: $mapSiniestro, $key:margenTiposDeSegurosS );
        line-height: 4;
        @extend.fuenteYColor
    }
    .imgSiniestro img{
        height: 670px;
    }
    
    .recomendacionSiniestro{
        margin: 10px;
        background-color:#9FFFCB ;
        margin-left: 45px;
        margin-right: 30px;
        height: 90px;
        padding: 20px;
        font-size: 20px;
        @extend.fuenteYColor;
        
    }
    .recomendacionSiniestro__definicion{
    padding: 10px;
    text-align: center;
    
    }
    .emergencia{
    text-align: center; 
    margin-top: 3%;
    }
    .emergencia ul li{
        display: inline;
        list-style: none;
        margin: 5px;
        padding: 40px;
        font-size: 20px;
        font-family: $mifuente;
        font-weight:normal;
        color:rgb(58, 69, 78);
    }
    .accesoPoliza{
        text-align: center;
        font-size: 30px;
    }
    .accesoPoliza__boton input{
        @extend.fuenteYColor;
        text-decoration: none;   
        font-size: 25px;
        border: 3px double;
        padding: 5px;
        margin-bottom: 25px;
        margin-top: 5%;
    }
}