*{ 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url("../img/double-bubble-outline.png");
    background-repeat: repeat;
}
.redes{
    display: grid;
    width: 100%;
    grid-template-areas:
    "redespmail redesp redesimg";
    grid-template-columns: repeat(3, auto); 
    align-items: center;
    justify-items: center;
    font-family: 'Yeseva One', cursive ;
    font-size: 20px;
    margin-top: 1%;
}
.redespmail{
    grid-area: redespmail; 
}
.redesp{
    grid-area: redesp;
}
.redesimg{
    grid-area: redesimg;
    
}
.titulo{
    display: grid;
    width: 100%;
    grid-template-areas: 
    "logoi titulointegro"
    ;
    grid-template-columns: 1fr 4fr;
    justify-items: center;
    align-items: center;
    background-color: #9FFFCB;
    
}
.logoi{
    grid-area: logoi;
}
.titulointegro{
    grid-area: titulointegro;
    font-family: 'Yeseva One', cursive;
    color:#5603AD ;
}
.navboost{
    display: flex;
    height: 100px;
    list-style: none;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: #9FFFCB;
    font-family: 'Yeseva One', cursive;
    font-size: 20px;
}


.lista1 ul{
    display: flex;
    height: 20px;
    list-style: none;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: #9FFFCB;
    font-family: 'Yeseva One', cursive;
    font-size: 20px;
}
.carousel-item{
    height: 600px;
    margin-top: 20px;
    
}
.pasos{
   margin:30px;
} 
.formulario{
    display: flex;
    justify-content: center;
    margin: 30px;
    background-color:#9FFFCB;
}
.formulario__espaciado{
    text-align: center;
    margin: 5px;
    padding: 10px;
    font-family:'Yeseva One', cursive ;
    color:#5603AD ;
    font-size: 20px;
}
.sobreMi{
    margin: 0;
    width: 90vw;
}
.sobreMi h3{
    text-align: center;
    font-family:'Yeseva One', cursive ;
    color:#5603AD ;
    font-size: 30px;
    padding: 20px;
}
.sobremiMi{
    display: grid;
    grid-template-areas: 
    "sobreMiImg sobreMiP"
    ;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.sobreMiImg{
    grid-area: sobreMiImg;   
}
.sobreMiP{
    grid-area: sobreMiP;
    line-height: 2;
    width: 80%;
    font-family:'Yeseva One', cursive ;
    font-size: 20px;
    padding: 3%;
}
/*css productos*/
.iconos ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
    padding: 2% ;}
.iconos ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;}
.iconos ul li img{
    width: 30%;}
.tiposdeseguros h2{
    text-align: center;
    font-family:'Yeseva One', cursive ;
    color:#5603AD ;
    font-size: 30px;
    padding: 20px;  
}
.cajasSeguros{
    display: grid;
    grid-template-areas: 
    "vida  mascotas empresas viajes";
    border: 3px solid #5603AD;
    justify-items: center;
    gap: 10px;
    padding: 2%;
    margin: 3%;
    line-height: 2;    
}
.vida{
    grid-area: vida;
    width: 80%;
    padding: 3%;
    background-color:#9FFFCB;
    text-align: center;
    font-family:'Yeseva One', cursive ;
    color:#5603AD ;   
}
.empresas{
    grid-area: empresas;
    width: 70%;
    height: 100%;
    background-color:#9FFFCB;
    text-align: center;
    font-family:'Yeseva One', cursive ;
    color:#5603AD ;
    padding: 3%;
}
.viajes{
    grid-area: viajes;
    width: 60%;
    height: 50%;
    padding: 3%;
    margin-top: 4%;
    background-color:#9FFFCB;
    text-align: center;
    font-family:'Yeseva One', cursive ;
    color:#5603AD ;

}
.mascotas{
    grid-area: mascotas;
    width: 70%;
    height: 50%;
    margin-top: 4%;
    padding: 3%;
    background-color:#9FFFCB;
    text-align: center;
    font-family:'Yeseva One', cursive ;
    color:#5603AD ;

}
.video{
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}
/*cotiza*/
.pasos__contrata{
    margin: 80px;
} 
/*sucursal*/
.mapa{
    margin-left: 30%;
    margin-top: 2%;
    margin-bottom: 2%;
}
/*siniestro*/
.imgSiniestro img{
    height: 670px;
    }
    .tiposdesegurosS{
        display: block;
        text-align: center;
        margin: 20px;
        padding: 15px;
        font-family:'Yeseva One', cursive ;
        font-size: 23px;
        color:#5603AD ;
        line-height: 4;
    }
    .recomendacionSiniestro{
        margin: 10px;
        background-color:#9FFFCB ;
        margin-left: 45px;
        margin-right: 30px;
        height: 90px;
        padding: 20px;
        font-family:'Yeseva One', cursive;
        font-size: 20px;
        color:#5603AD ;
    }
    .recomendacionSiniestro__definicion{
        
        padding: 10px;
        text-align: center;
        
    }
    .emergencia{
        text-align: center; 
    }
    .emergencia ul li{
        display: inline-block;
        margin: 5px;
        padding: 40px;
        font-size: 20px;
        font-family: 'Yeseva One', cursive;
        font-weight:normal;
        color:rgb(58, 69, 78);
    }
    .accesoPoliza{
        text-align: center;
        font-size: 30px;
    }
    .accesoPoliza__boton input{
        font-family:'Yeseva One', cursive ;
        text-decoration: none;   
        font-size: 25px;
        color: #5603AD;
        border: 3px double;
        padding: 5px;
        margin-bottom: 25px;
    }
footer{
    display: grid;
    grid-template-areas:  
    "izquierda derecha" ;
    grid-template-columns: 1fr 1fr; 
    font-family:'Yeseva One', cursive ;
    background-color:#9FFFCB ;
    justify-items: center;
    align-items: center;
    padding: 4%;   
}
.izquierda{
    grid-area: izquierda;
}
.derecha{
    grid-area: derecha;
}
.espaciofinal{
    height: 50px; 
}
@media only screen and (min-width: 0px) and (max-width: 768px){
    .titulo{
        grid-template-areas:  
        "logoi"
        "titulointegro"
        ;
        grid-template-columns: repeat(1, 1fr);
    }
    .logoi{
        width: 60%;
    }
    .logoi a{
        display: flex;
        justify-content: center;
    }
    h1{
        font-size: 120%;
    }
    .redes{
        font-size:90% ;
        grid-template-areas:
        "redespmail"
        "redesp"
        "redesimg";
        grid-template-columns: repeat(1, 1fr);
        gap: 7%;
        margin-bottom: 5%;
    }
    .lista1 ul{
        flex-wrap: wrap;
        font-size: 110%;
        padding: 5%;
    }
    .sobremiMi{
        grid-template-areas: 
        "sobreMiImg"
        "sobreMiP";
        grid-template-columns: repeat(1, 1fr);
        
    }
    .sobreMiP{
        margin-top: 5%;
        font-size: 105%;
        text-align: justify;
    }
    footer{
        margin-top: 5%;
        grid-template-areas:  
        "izquierda"
        "derecha";
        grid-template-columns: repeat(1, 1fr);
    }
    .derecha{
        margin-top: 5%;
        margin-left: 7%;
    }
    .derecha h3{
        font-size: 100%;
    }
    .iconos ul li img{
        width: 80%;
    }
    .cajasSeguros{
        grid-template-areas:  
        "vida"
        "mascotas"
        "empresas"
        "viajes"
        ;
    }
    .mascotas{
        height: 90%;
        width: 90%;
        font-size: 120%;
    }
    .vida{
        width: 90%;
        font-size: 120%;
    }
    .empresas{
        width: 90%;
        font-size: 120%;
        height: 100%;
    }
    .viajes{
        width: 90%;
        height: 90%;
        font-size: 120%;
    }
    .video iframe{
        width: 95%;
        height: 95%;
    }
}



/*
.redes{ 
    background-color: mediumblue;
    display:grid;
    height: 60px;
    width: auto;
    grid-template-columns: 31% 31% 31% 5%;
    justify-items: end;
    align-items: center;

}
.redesp{
    background-color: magenta;
    font-size: 20px;
    font-family:'Yeseva One', cursive ;
    color: #5603AD;

}
.titulo{
    color:#5603AD ;
    text-align: center;
    font-family: 'Yeseva One', cursive;
    background-color:#9FFFCB;
}
.pasos{
margin: 30px;
}
.lista1{
    text-align: center;
    background-color:#9FFFCB;
}
.lista1 ul li{
    display: inline-block;
    margin: 5px;
    padding: 20px;
    font-size: 20px;
    font-family: 'Yeseva One', cursive;
    font-weight:normal;
}
.lista1 ul li a{
    text-decoration: none;
}
.pasos{
    margin-left: 90px;
    margin-right: 90px;
}
.formulario{
    margin: 30px;
    background-color:#9FFFCB ;
    margin-left: 50px;
    margin-right: 50px;
}
.formulario__espaciado{
    text-align: center;
    margin: 5px;
    padding: 10px;
    font-family:'Yeseva One', cursive ;
    color:#5603AD ;
    font-size: 20px;
}
.formulario h2{
    font-size: 30px;
}
.sobreMi{
    margin: 50px;
}
.sobreMi div{
    height: 500px;
}
.sobreMi h3{
    text-align: center;
    font-family:'Yeseva One', cursive ;
    color:#5603AD ;
    font-size: 30px;
    padding: 20px;
}
.sobreMi img{
    display: block;
    width: 45%;
    height: 450px;
    float: left;
    border: #00A5CF 4px solid;
}
.sobreMi p{
    display: block;
    float: right;
    width: 45%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Yeseva One', cursive ;
    color:#5603AD ;
    font-size: 22px;
}
footer{
    display: block;
    background-color:#9FFFCB ;
    height: 300px;
}
footer ul li{
    font-family:'Yeseva One', cursive ;
    color:#5603AD ;
    font-size: 20px;
    margin-left: 60px;
    padding: 10px;
}
.footer ul li h3{
    font-size: 30px;
}
.espaciofinal{
    height: 50px; 
}

.iconos ul li img{
    width: 90px;
    display: inline-block;
    margin: 48px;
    padding: 10px;
    
}
.iconos ul li{
    display: inline-block;
}
.tiposdeseguros{
    display: block;
    text-align: center;
    margin: 20px;
    padding: 15px;
    font-family:'Yeseva One', cursive ;
    font-size: 23px;
    color:#5603AD ;
}
.tiposdeseguros h2{
    text-align: center;
    font-size: 40px;
    color:#5603AD ;
}
.tiposdeseguros p{
    padding: 20px;
}
iframe{ 
    padding-bottom: 30px;
    margin-left: 40px;
    
}

.mapa{
    margin-left: 250px;
    padding: 30px;
}
.recomendacionSiniestro{
    margin: 10px;
    background-color:#9FFFCB ;
    margin-left: 45px;
    margin-right: 30px;
    height: 50px;
    padding: 20px;
    font-family:'Yeseva One', cursive;
    font-size: 20px;
    color:#5603AD ;
}
.recomendacionSiniestro__definicion{
    
    padding: 10px;
    text-align: center;
    
}
.emergencia{
    text-align: center; 
}
.emergencia ul li{
    display: inline-block;
    margin: 5px;
    padding: 40px;
    font-size: 20px;
    font-family: 'Yeseva One', cursive;
    font-weight:normal;
    color:rgb(58, 69, 78);
}
.accesoPoliza{
    text-align: center;
    font-size: 30px;
}
.accesoPoliza__boton input{
    font-family:'Yeseva One', cursive ;
    text-decoration: none;   
    font-size: 25px;
    color: #5603AD;
    border: 3px double;
    padding: 5px;
    margin-bottom: 25px;
}

.imgSiniestro img{
height: 550px;
}


.pasos__contrata{
    margin: 80px;
} */